<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- use Spring default values -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="ROLLING_ASYNC_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/info/info.log</file>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/info/info-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <totalSizeCap>10GB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="ROLLING_ASYNC_DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/debug/debug.log</file>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/debug/debug-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <!-- maxHistory is number of days -->
            <maxHistory>31</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <root level="debug">
        <appender-ref ref="ROLLING_ASYNC_INFO"/>
        <appender-ref ref="ROLLING_ASYNC_DEBUG"/>
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.hibernate" level="info" additivity="false">
        <appender-ref ref="ROLLING_ASYNC_INFO"/>
        <appender-ref ref="ROLLING_ASYNC_DEBUG"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="liquibase" level="info" additivity="false">
        <appender-ref ref="ROLLING_ASYNC_INFO"/>
        <appender-ref ref="ROLLING_ASYNC_DEBUG"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="ROLLING_ASYNC_INFO"/>
        <appender-ref ref="ROLLING_ASYNC_DEBUG"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>
